<style>
.demo-layout-transparent {
  background: url(<%= asset_path 'cover.jpg' %>) center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  .navigation__link{
    color:white;
  }
}
</style>
<div class="demo-layout-transparent mdl-layout mdl-js-layout">
  <header class="mdl-layout__header mdl-layout__header--transparent">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Better Days</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Log In</a>
        <a class="mdl-navigation__link" href="">Sign Up</a>
        <a class="mdl-navigation__link" href="/question_setup/firstq_page">Just take Survey</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Welcome</span>
    <div class="test-toggle">
    <p> Better Days is an app designed to meet your needs by helping you connect to others. The self evaluated test is for your benefit but in no way hinders you from using the app. So if you want to jump straight to the chat, find resources or a hospital near you you can find the links below.</p>
    </div>
      <div class="toggle_links"
          <nav class="mdl-navigation">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
               <a class="mdl-navigation__link" href="/chatroom">Chatroom</a>
            </button>
      </div>
  <br>
      <div class="toggle_links_two">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            <a class="mdl-navigation__link" href="">Resources</a>
        </button>
      </div>
  <br>
      <div class="toggle_links_three">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        <a class="mdl-navigation__link" href="/maps">Hospitals</a>
        </button>
      </div>
      </div>
    </nav>
  </div>
</div>
<body>

<!-- <blockquote class="imgur-embed-pub" lang="en" data-id="yURoHrB"><a href="//imgur.com/yURoHrB">View post on imgur.com</a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script> -->

<!-- <img src="../images/cover.jpg" alt="cover" style="width:304px;height:228px;"> -->


 <div class="bottom_main">
        <p>Better Days is an app created for those who are struggling with deppresion or just curious to understand what depression is. We provide a self evaluating test based off the Beck's Depression Inventory with slight ajustments. Your results depend on a formula in order to ensure the best results for your mood state. So take the test and get on your way to better days.</p>
      </div>
<!-- <div class= "description"> <p>Better-Days is an app designed for one to self evaluate if they are depressed</p></div>
<!-- might need to change layout it breaks the fron page when the description is added --> -->
</body>