<body class="chat_background">
<div class="center-forms">

<div class="mdl-card mdl-shadow--8dp">
  <div class="mdl-card__supporting-text">
  <h1 class="chat_color">Better Days Chatroom</h1>
  <div class="align_messages">
	<div id="messages">
		<%= render @messages %>
	</div>

	<form>
		<label> Say Something: </label> <br>
		<input type="text" name="blah" data-behavior="room_speaker">
		<button> </button>
	</form>
	</div>
	</div>
	</div>
	</div>

	</body>