// Place all the styles related to the question_setup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
background-color: #FAEBD7;
}

.center-forms{
	position: absolute;
	left: 28%;
	top: 10%;
}

.center-button{
	position: absolute;
	left: 43%;
}

.mdl-shadow--8dp{
	width: 700px;
}

// .mdl-card__title-text{
// 	text-align: center;
// 	vertical-align: middle;
// 	font-weight: normal;
// }

.mdl-card__supporting-text{
	text-align: left;
	font-size: 16px;
}

.align_answers{
	padding-left: 40px;
	position: absolute;
	left: 15%;
	top: 25%;
}

.align_answers_four{
	padding-left: 40px;
	position: absolute;
	left: 8%;
	top: 25%;
}

.test-toggle{
	padding-left: 40px;
	padding-right: 40px;
	position: absolute;
	left: 2%;	
}

.toggle_links{
	padding-left: 30px;
	padding-right: 40px;
	position: absolute;
	left: 8%;
	top: 55%;
}

.toggle_links_two{
	padding-left: 30px;
	padding-right: 40px;
	position: absolute;
	left: 8%;
	top: 65%;
}
.toggle_links_three{
	padding-left: 30px;
	padding-right: 40px;
	position: absolute;
	left: 8%;
	top: 75%;
}

.mdl-layout-title{
	color: black;
	font-weight: bold;
}

.bottom_main{
	background: white;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	top: 70%;
	right: 20%;
	left: 20%;
	border: black;
	border-style: double;
	border-width: 10px;
}
// .mdl-shadow--8dp{
// 	shadow-shadow-color: red !important;
// }


// only centers if I put the text with absolute 
// set text inside to something else
// set color background to something else
