// Place all the styles related to the question_setup controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
background-color: #FAEBD7;
}

.center-forms{
	position: absolute;
	left: 28%;
	top: 10%;
}

.center-button{
	position: absolute;
	left: 43%;
}

.mdl-shadow--8dp{
	width: 700px;
}

.mdl-card__title-text{
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
}

.mdl-card__supporting-text{
	text-align: center;
	font-size: 16px;
}


// only centers if I put the text with absolute 
// set text inside to something else
// set color background to something else
